<a href="https://colab.research.google.com/github/ShlyaPn1kGit/Uni-Python/blob/main/Extra/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%E2%84%962_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [2]:
numbers = ['1', '2', '3', '4', '5']
numbers = map(lambda x: x ** 3, map(int, numbers))

print(list(numbers))

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [3]:
words = ['level', 'python', 'radar', 'world', 'rotor']
words = filter(lambda x: x[0] == x[-1], words)

print(list(words))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [4]:
import functools
numbers = [47, 11, 42, 102, 13]
mx = functools.reduce(lambda x, y: max(x, y), numbers)
print(mx)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [9]:

list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list(map(lambda x: (x[0] ** 2, x[1] ** 3), list(zip(list1, list2))))
print(result)

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [8]:
import functools
numbers = '1,2,3,4,5,6,7,8,9,10'
result = functools.reduce(lambda x, y: x + y, filter(lambda x: x % 2 == 0, map(int, numbers.split(','))))

print(result)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [7]:
celsius = [0, 15, 30, 100]

fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(fahrenheit)

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

result = list(map(lambda x: x**2, filter(lambda x: x % 2 != 0, numbers)))

print(result)

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [5]:
import functools

numbers = [1, 2, 3, 4, 5]

result = functools.reduce(lambda x, y: x * y, numbers, 1)

print(result)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [10]:
strings = ['10', '20', 'abc', '30', 'def']

strings = map(lambda x: int(x) if x.isdigit() else 0, strings)
print(list(strings))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [11]:
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

print(list(zip(x_coords, y_coords)))

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [12]:
words = ['apple', 'banana', 'cherry']

print(dict(map(lambda word: (word, len(word)), words)))

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [13]:
def base(n: int):
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True


numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(filter(lambda x: base(x), numbers)))

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [14]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

lst = list(map(lambda line: sum(line), zip(list1, list2, list3)))
print(list(lst))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [16]:
import functools

s = 'Functional programming with lambda functions'

result = functools.reduce(lambda x, y: x if x[1] > y[1] else y, functools.reduce(lambda d, c: {**d, c: d.get(c, 0) + 1}, s, {}).items())[0]
print(f'Самая частая буква - {result}')

Самая частая буква - n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [17]:
import functools

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
vowels = 'aeiouy'

total = functools.reduce(lambda total, count: total + count,map(lambda word: len(list(filter(lambda char: char in vowels, word))),words),0)

print(total)

13

---